.submitForm
  // Кнопка регистрации
  button.submitForm__button.btn.btn-default(
    type="submit",
    disabled
  ) Зарегистрироваться
  // Проверка готовности
  include checkReady/checkReady.pug
  // Ссылки на ознакомление
  a.submitForm__agreement(href="https://ru-eshop.oriflame.com/iframe/custom/ru/consultant/Registration.pdf") Договор
  br
  a.submitForm__conditions(href="https://ru-eshop.oriflame.com/iframe/custom/ru/consultant/Registration.pdf") Условия