.submitForm {
  margin-top: 45px;
}

// Общие стили

.submitForm__agreement, .submitForm__conditions {
  width: span(2);
  display: inline-block;
}

.checkReady, .submitForm__agreement, .submitForm__conditions {
  text-align: right;
  @include breakpoint(max-width 767px) {
    text-align: center;
    width: span(12) !important;
  }
}

.checkReady, .submitForm__agreement {
  margin-top: 34px;
}
@import "__button/__button.scss";
@import "checkReady/checkReady.scss";