| {% if field.p %}
p.paragraph.
  {{ field.p }} 
| {% endif %}
| {% if field.offer_1 %}
p.paragraph
  h3.paragraph__title.text-center.
    {{ field.offer_1 }}
  //- span.paragraph__decorator.paragraph__decorator-color_red
  ul.paragraph__offersList.steps
    | {% if field.action_1_1 %}
    li.steps__item.
      {{ field.action_1_1 }}
    //- span.paragraph__decorator.paragraph__decorator-color_viole
    | {% endif %}
    | {% if field.action_1_2 %}
    li.steps__item.
      {{ field.action_1_2 }}
    | {% endif %}
    | {% if field.action_1_3 %}
    li.steps__item.
      {{ field.action_1_3 }}
    | {% endif %}
    | {% if field.action_1_4 %}
    li.steps__item.
      {{ field.action_1_4 }}
    | {% endif %}
| {% endif %}  
| {% if field.offer_2 %}
p.paragraph
  h4.paragraph__title.text-center.
    {{ field.offer_2 }}
  ul.paragraph__offersList.benifits
    | {% if field.action_2_1 %}
    li.benifits__item.
      {{ field.action_2_1 }}
    | {% endif %}
    | {% if field.action_2_2 %}
    li.benifits__item.
      {{ field.action_2_2 }}
    | {% endif %}
    | {% if field.action_2_3 %}
    li.benifits__item.
      {{ field.action_2_3 }}
    | {% endif %}
    | {% if field.action_2_4 %}
    li.benifits__item.
      {{ field.action_2_4 }}
    | {% endif %}
    | {% if field.action_2_5 %}
    li.benifits__item.
      {{ field.action_2_5 }}
    | {% endif %}
    | {% if field.action_2_6 %}
    li.benifits__item.
      {{ field.action_2_6 }}
    | {% endif %}
    | {% if field.action_2_7 %}
    li.benifits__item.
      {{ field.action_2_7 }}
    | {% endif %}
    | {% if field.action_2_8 %}
    li.benifits__item.
      {{ field.action_2_8 }}
    | {% endif %}
    | {% if field.action_2_9 %}
    li.benifits__item.
      {{ field.action_2_9 }}
    | {% endif %}
    | {% if field.action_2_10 %}
    li.benifits__item.
      {{ field.action_2_10 }}
    | {% endif %}
    | {% if field.action_2_11 %}
    li.benifits__item.
      {{ field.action_2_11 }}
    | {% endif %}
    | {% if field.action_2_12 %}
    li.benifits__item.
      {{ field.action_2_12 }}
    | {% endif %}
| {% endif %}