.paragraph {
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}

.steps__item, .benifits__item {
  margin-top: 13px;
} 

.paragraph--underImage, .paragraph__title--underImage, .paragraph__offersList--underImage{
  width: span(6);
  margin-right: auto;
  margin-left: auto;
  @include breakpoint($xs) {
    width: span(10);
    margin-top: 30px;
  }
}

.paragraph--underImage {
  margin-top: 50px;
  @include breakpoint($xs) {
    margin-top: 30px;
  }
}
@import "__decorator/__decorator-color.scss";
@import "__offersList/__offersList.scss";
@import "__title/__title.scss";
@import "steps/steps.scss";
@import "benifits/benifits.scss"; 