.catalogsStock
  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")
  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")
  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")

  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")
  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")
  a.catalogStock__item(href="http://ru.oriflame.com/ecatalogue/502181?per=201609")
    img.img-responsive(data-lazy="http://ru.oriflame.com/catalogue-image.png")