.registr__info.regInfo.child
  p.regInfo__paragraph Вы сразу же получаете 
    strong скидку от 20% 
    | на всю продукцию компании, качество которой смогли оценить люди более чем
    i в 60-ти странах мира.
  p.regInfo__paragraph Вы становитесь консультантом компании и участвуете в распродажах и акциях, где 
    strong скидки достигают 80%. 
    | Приняв участие в стартовой программе, 
    strong вы получаете подарки 4 каталога подряд.
  p.regInfo__paragraph Заказы делаете 
    strong прямо из дома 
    | и получаете 
    strong в удобном для вас месте. 
    | А если кроме красоты и здоровья вас интересует приличный заработок, не зависящий от кризисов, то 
    i регистрируясь 
    | на нашем сайте, вы попадаете в нашу команду, которая успешно работает с 1996 года. Обучение, поддержку и сопровождение на всех этапах вашей деятельности мы гарантируем.