/* Grid */
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12,
  gutters: .100,
  gutter-position: split
);
@include border-box-sizing;

/* Fonts */
$stackMuseo: 'Museo', monospace;
/* Colors */
$beige: #dfa76e;

// Используемые цыета
$darkGray: #202020;
$white: #f4f4f4;
$gray: #eee;
$nightBlack: #3f3c39;
$maroon: #952d2c;
$hover-link: #bd0d0d;
$cyan: #76c1e2;
$viole: #a86fb9;
$shadow: rgba(0, 0, 0, .9);
$red: rgba(255, 18, 17, .9);
$ghostBlack:  rgba(29, 22, 16, .8);
/* breakpoints */
$xxs: max-width 460px;
$xs: max-width 769px;
$sm: 769px 991px;
$md: 992px 1199px;
$lg: 1200px;
/* Mixins */
/* Body Custom */
html, body {
  min-height: 100%;
}
body {
  & * {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
  }
  position: relative;
  font: {
    family: $stackMuseo;
    size: 16px;
  }
  line-height: 145%;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  background-color: $white;
  color: $darkGray;
}

h1, h2, h3, h4 {
  color: $nightBlack;
}
p, li {
  margin-top: 1em;
}

a {
  @include link-colors($nightBlack, $hover-link, $nightBlack, $nightBlack, $nightBlack);
  &:hover {
    text-decoration: none;  
  }
  &:active {
    text-decoration: none;  
  }
  &:focus {
    text-decoration: none;  
  }
}

.placeholder {
  color: #888;
}
