.about__item.intro
  figure.intro__logo.aboutLogo
  h2.intro__title.aboutTitle Oriflame
  p.intro__paragraph.aboutText Сегодня Орифлейм - одна из самых быстрорастущих косметических компаний в мире. Она работает в 60 странах мира, в 30 из которых лидирует на рынке прямых продаж. Орифлейм предлагает широкий спектр высококачественных средств по уходу за кожей, парфюмерии и декоративной косметики.