ul.paragraph__offersList.steps
  li.steps__item
    span.paragraph__decorator.paragraph__decorator-color_viole Размести заказ суммарно на 100ББ 
    | в течение 
    span.paragraph__decorator.paragraph__decorator-color_viole 21 дня 
    | с момента регистрации и получи шикарный набор 
    span.paragraph__decorator.paragraph__decorator-color_red всего за 199 рублей!
  li.steps__item Продолжай размещать заказы 
    span.paragraph__decorator.paragraph__decorator-color_viole суммарно по 100ББ
    | в последующий трех каталогах и также получате в каждом каталоге набор 
    span.paragraph__decorator.paragraph__decorator-color_red всего за 199 рублей! 
    span.paragraph__decorator.paragraph__decorator-color_viole Не упустите свою выгоду! 