.visible-hidden {
	white-space: nowrap;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	position: absolute;
}
.visible-hidden-smLess {
	@include breakpoint($sm-less) {
		white-space: nowrap;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		width: 1px;
		height: 1px;
		position: absolute;
	}  
}
.visible-hidden-xs {
	@include breakpoint($xs) {
		white-space: nowrap;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		width: 1px;
		height: 1px;
		position: absolute;
	}  
}

.registrationButton {
	&_red {
		background-color: $red;
	}
	&_purple {
		background-color: $purple;
	}
	color: $white $i;
	text-align: center;
	min-width: em(235, 21);
	max-width: em(235, 21);
	font-size: em(21);
	display: inline-block;
	@include round(em(2, 21));
	&_centered {
		margin: 1.5em auto;
		display: block;
	}
	// @include flyShadow();
	&_active {
		background-color: $purple;
	}
	&__refer {
		padding: 1em 0;
		display: block;
		background-image: none $i;
		&:hover {
			color: $white $i;
			background-image: none $i; 
		}
	}
	@extend %all-transition-3;
	&:hover {
		@extend %flyShadow;
	}
}

.imageContainer {
	display: inline-block;
	&, &__image {
		transition: .3s ease-in-out;
		width: span(12);
	}
	&__image {
		background: center no-repeat;
		background-size: cover;
	}
}

.closeButton {
	background-color: transparent;
	border: 0;
	color: $white;
	cursor: pointer;
	max-width: 15%;
}

.description {
	position: absolute;

	&_purple {
		background-color: $purple;
	}
	&_black {
		background-color: $darkGray;	
	}
	opacity: 0;
	z-index: -1;
	@include round(em(2, 21));
	font-size: em(24);
	min-width: em(350, 21);
	color: $white;
	padding:  em(21, 21) em(21, 21) em(32, 21);
	// line-height: 2;
	transition: opacity .3s ease;
	&__title {
		border-bottom: 1px solid #adadad;
		font-size: em(24);
		padding-bottom: .3em;
		justify-content: space-between;
		& .closeButton {
			text-align: right;
			
		}
	}
	&_inline {
		top: 0 $i;
		bottom: auto $i;
	}
	&_beneath {
		top: 100% $i;
		bottom: auto $i;
		// top: calc(100% + 1em);
	}
	&_right {
		right: 0 $i;
		left: auto $i;
		// right: calc(0 - 1em);

	}
	&_left {
		left: 0 $i;
		right: auto $i;
		// left: calc(0 - 1em);
	}
	&_upstair {
		bottom: 100% $i;
		top: auto $i;
		// bottom: calc(100% - 1em);
	}
	@include breakpoint($xxs) {
		min-width: 100vw$i;
		// left: 0 $i;
		position: fixed;
	}
}
.descriptionContent {
	margin-top: 1em;
}
.shown_element {
	opacity: 1 $i;
	z-index: 2 $i;
}
.controller {
	&:not(:first-child) {
		margin-top: .5em;
	}
	&__icon {
		margin-bottom: .15em;
	}
	&__input {
		font-size: em(18, 21);
		padding: em(16) em(12.5);
		@include round(em(2, 21));
		background-color: $gray;
		border-width: 2px ;
		border-style: solid;
		&_purple {
			border-color: $purple;
		}
		&_red {
			border-color:  $red;
		}

	}
	&__label {
		align-self: flex-end;
	}
}

.restrictBlock {
	margin: auto;
	max-width: em(1000);
}

.button {
	border: 0;
	width: 100%;
	max-width: em(125);
	color: $white;
	@include round(em(2));
	&_purple {
		background-color: $purple;
	}
	&_red {
		background-color: $red;
	}
}
// .centered {
// 	margin-left: auto;
// 	margin-right: auto;
// }