// Бизнесс страница
section.business
  h1.business__heading.text-center Сотрудничая с Орифлэйм,
    br
    | Вы сможете:
  // Лестница успеха
  include ladderOfSuccessful/ladderOfSuccessful.pug
  // Возможности с орифлейм
  include oriflameOpportunities/oriflameOpportunities.pug
  // Видео
  .business__video
    iframe(
      height="315",
      src="https://www.youtube.com/embed/94Zxxf-4_VE",
      frameborder="0",
      allowfullscreen
    )