.about__item.team
  figure.team__logo.aboutLogo
  h2.team__title.aboutTitle Команда
  p.team__paragraph.aboutText Регистрируясь на нашем сайте, вы попадаете в нашу команду! Мы поможем вам научиться оформлять заказы, будем консультировать и сопровождать. А если вы захотите зарабатывать с нами, научим всему необходимому