.copyright
  p.cophyright__me Copyright &copy; 2016 &dash; Сайт независимого консультанта Oriflame
  p.officialSite Официальный сайт компании 
    a.officialSite__refer(href="https://oriflame.com/") www.oriflame.com