| {% extends 'base.html' %}
| {% block content %}
include snippets/errors/header/header.pug
.notFound.text-center
  h1.notFound__title Страница не найдена
  p.notFound__text Извините, но страницу, которую вы пытались найти - не существует.
| {% endblock %}