| {% extends 'base.html' %}

| {% block title  %}
title Регистрация
| {% endblock %}
| {% block content %}
include snippets/registr/header/header.pug
.container
  include snippets/registr/main/main.pug
| {% endblock %}