| {% extends 'base.html' %}

| {% block title  %}
title Акции
| {% endblock %}
| {% block content %}
// Header
include snippets/shares/header/header.pug
// Main Content
.container
  include snippets/shares/main/main.pug
| {% endblock %}