| {% extends 'base.html' %}

| {% block title  %}
title Зарегистрировались!
| {% endblock %}
| {% block content %}
// Header
include snippets/registr/header/header.pug
.container
  h1.successText.text-center.text-info Вы успешно прошли регистрацию. Менеджер свяжется с вами в течение 12-ти часов.
| {% endblock %}