.visitCard__header {
  height: 60px;
  
}

.cssgradients {
  & .visitCard__header { 
    background: radial-gradient(circle, #a71b1c 0%,#911718 67%,#7b1415 80%);
  }
}

.no-cssgradients {
  & .visitCard__header { 
    background: url("../img/gradients/header-visit-card.png") no-repeat center;
    background-size: cover;
  }
}