// Общие стили


.singleShare__title, .singleShare__conditions, .listConditions__item, .singleShare__date, .share__set  {
  margin-top: 1em;
}
.singleShare__title, .singleShare__conditions, .listConditions__item, .singleShare__date, .share__set, .condition__text, .singleShare__text, .setList__item {
  max-width: 800px;
}

.singleShare__img img, .setList__img img, .condition__img img, .share__set {
  margin: 5% auto;
}

.listConditions {
  list-style-type: none;
}
.condition__text, .singleShare__text, .setList__item {
  font-size: (18em / 16);
  margin-top: 1em;
}

@import '__date.scss';
@import '__title.scss';
@import '__img.scss';
@import '__text.scss';
@import '__conditions.scss';
@import '__backButton.scss';
@import 'listConditions.scss';
@import 'condition/__img.scss';
@import 'condition/__text.scss';
@import 'condition/__title.scss';
@import 'condition/condition.scss';
@import '__set.scss';
@import 'setList/__img.scss';
@import 'setList/__item.scss';
@import 'setList/setList.scss';
@import 'additionalText.scss';