.submitForm
  // Кнопка регистрации
  button#subButton.submitForm__button.btn.btn-default.materialShadow(
    type="submit"
  ) Зарегистрироваться
  // Проверка готовности
  include checkReady/checkReady.pug
  // Ссылки на ознакомление
  a.submitForm__agreement(href="https://ru-eshop.oriflame.com/iframe/custom/ru/consultant/Registration.pdf") Договор
  br
  a.submitForm__conditions(href="https://ru-eshop.oriflame.com/iframe/custom/ru/consultant/Registration.pdf") Условия