.ladderOfSuccessful
  p.ladderOfSuccessful__additions.text-center
    | Отлично выглядеть, покупать косметику со скидкой от 20 до 32%;
    br
    | Зарабатывать, совмещая  с основной работой;
    br
    | Начать свой бизнес без стартового капитала и высоким доходом;
  .ladderOfSuccessful__image
    figure