.controller__label-checkAddition {
  position: relative;
  margin: 13px auto 0;
  width: span(3); 
  text-align: right;
  max-width: 190px;
  @include breakpoint(max-width 1199px) {
    width: span(6);
  }
  @include breakpoint(max-width 767px) {
    width: span(9);
    min-width: 190px;
  }
}