| {% extends 'base.html' %}

| {% block content %}
h1.mainTitle Медиа контент
section.videos.parent
	h2.videos__title Видео
	<div class="youtube video" data-embed="g3aI1uMFV-Q">
		<div class="play-button"></div>
	</div>
	<div class="youtube video" data-embed="94Zxxf-4_VE">
		<div class="play-button"></div>
	</div>
	<div class="youtube video" data-embed="KuHhkFDJKP8">
		<div class="play-button"></div>
	</div>

script(async, src='/static/cosmeticsyou/js/media.js')

| {% endblock %}