| {% extends 'base.html' %}

| {% block title  %}
title Успешная регистрация!
| {% endblock %}
| {% block content %}
// Header
h2.successText.text-center.text-info Вы успешно прошли регистрацию. Менеджер свяжется с вами в течение 12-ти часов.
| {% endblock %}