.instructions__text.text
  include paragraph/paragraph.pug
.clearfix
| {% if field.offer_3 %}
| <p class='paragraph paragraph--underImage'>
h4.paragraph__title.paragraph__title--underImage.text-center.
  {{ field.offer_3 }}
ul.paragraph__offersList.paragraph__offersList--underImage.benifits
  | {% if field.action_3_1 %}
  li.benifits__item.
    {{ field.action_3_1 }}
  | {% endif %}
  | {% if field.action_3_2 %}
  li.benifits__item.
    {{ field.action_3_2 }}
  | {% endif %}
  | {% if field.action_3_3 %}
  li.benifits__item.
    {{ field.action_3_3 }}
  | {% endif %}
  | {% if field.action_3_4 %}
  li.benifits__item.
    {{ field.action_3_4 }}
  | {% endif %}
  | {% if field.action_3_5 %}
  li.benifits__item.
    {{ field.action_3_5 }}
  | {% endif %}
  | {% if field.action_3_6 %}
  li.benifits__item.
    {{ field.action_3_6 }}
  | {% endif %}
  | {% if field.action_3_7 %}
  li.benifits__item.
    {{ field.action_3_7 }}
  | {% endif %}
  | {% if field.action_3_8 %}
  li.benifits__item.
    {{ field.action_3_8 }}
  | {% endif %}
  | {% if field.action_3_9 %}
  li.benifits__item.
    {{ field.action_3_9 }}
  | {% endif %}
  | {% if field.action_3_10 %}
  li.benifits__item.
    {{ field.action_3_10 }}
  | {% endif %}
  | {% if field.action_3_11 %}
  li.benifits__item.
    {{ field.action_3_11 }}
  | {% endif %}
  | {% if field.action_3_12 %}
  li.benifits__item.
    {{ field.action_3_12 }}
  | {% endif %}
| </p>
| {% endif %}
| {% if field.offer_4 %}
| <p class='paragraph paragraph--underImage'>
h4.paragraph__title.paragraph__title--underImage.text-center.
  {{ field.offer_4 }}
ul.paragraph__offersList.paragraph__offersList--underImage.benifits
  | {% if field.action_4_1 %}
  li.benifits__item.
    {{ field.action_4_1 }}
  | {% endif %}
  | {% if field.action_4_2 %}
  li.benifits__item.
    {{ field.action_4_2 }}
  | {% endif %}
  | {% if field.action_4_3 %}
  li.benifits__item.
    {{ field.action_4_3 }}
  | {% endif %}
  | {% if field.action_4_4 %}
  li.benifits__item.
    {{ field.action_4_4 }}
  | {% endif %}
  | {% if field.action_4_5 %}
  li.benifits__item.
    {{ field.action_4_5 }}
  | {% endif %}
  | {% if field.action_4_6 %}
  li.benifits__item.
    {{ field.action_4_6 }}
  | {% endif %}
  | {% if field.action_4_7 %}
  li.benifits__item.
    {{ field.action_4_7 }}
  | {% endif %}
  | {% if field.action_4_8 %}
  li.benifits__item.
    {{ field.action_4_8 }}
  | {% endif %}
  | {% if field.action_4_9 %}
  li.benifits__item.
    {{ field.action_4_9 }}
  | {% endif %}
  | {% if field.action_4_10 %}
  li.benifits__item.
    {{ field.action_4_10 }}
  | {% endif %}
  | {% if field.action_4_11 %}
  li.benifits__item.
    {{ field.action_4_11 }}
  | {% endif %}
  | {% if field.action_4_12 %}
  li.benifits__item.
    {{ field.action_4_12 }}
  | {% endif %}
| </p>
| {% endif %}
.clearfix 