{% extends 'base.html' %}{% block content %}
<div class="mainSlider">
  <h2 class="visible-hidden">Слайдер</h2>
  <div class="owl-carousel" id="mainSlider">
    <div class="slide">
      <div class="imageContainer imageContainer_hike">
        <figure class="imageContainer__image imageContainer__image_hike"></figure>
      </div>
      <p class="slide__description parent centered slide__description_hike">Мы команда консультантов. Работаем с Oriflame, зарабатываем на продаже различных полезных предметов: разнообразная косметика, аксессуары и вкусные, но и, самое главное, полезные продукты. А самый главный доход идёт с сформированной команды! Мы никогда не скучаем и имеем кучу бонусов.
      </p>
    </div>
    <div class="slide">
      <div class="imageContainer imageContainer_team">
        <figure class="imageContainer__image imageContainer__image_team"></figure>
      </div>
      <p class="slide__description parent centered slide__description_team">Мы любим своих товарищей и стараемся помогать им развиваться в сфере, где работаем. Если у вас есть желание делать дело, мы готовы приложить все усилия для достижения результата!
      </p>
    </div>
    <div class="slide">
      <div class="imageContainer imageContainer_business">
        <figure class="imageContainer__image imageContainer__image_business"></figure>
      </div>
      <p class="slide__description parent centered slide__description_business">Помимо нашей поддержки, вы будете обладать разными привилегиями на разнообразные предметы в каталогах oriflame. В них вы найдёте море интересных вещей для вас и ваших близких! Или же делать бизнес на стороне;).
      </p>
    </div>
    <div class="slide">
      <div class="imageContainer imageContainer_quest">
        <figure class="imageContainer__image imageContainer__image_quest"></figure>
      </div>
      <p class="slide__description parent centered slide__description_quest">Мы создаём для консультантов акции, участие в которых сулит богатство тому, кто выполнит все  условия акции. Вы любите интересные задания?
      </p>
    </div>
    <div class="slide">
      <div class="imageContainer imageContainer_registration">
        <figure class="imageContainer__image imageContainer__image_registration"></figure>
      </div>
      <p class="slide__description parent centered slide__description_registration">Пройдя регистрацию, вы официально станете любимым членом нашей замечательной команды!<span class="slide__button registrationButton registrationButton_purple"><a class="registrationButton__refer" href="{% url 'registration' %}">Зарегистрироваться</a></span>
      </p>
    </div>
  </div>
</div>
<section class="programm parent centered" id="programm">
  <h2 class="programm__title child">С чёго стоит начать?  </h2>
  <article class="chain parent">
    <h3 class="chain__title visible-hidden">Стартовая программа</h3>
    <div class="chain__image imageContainer child imageContainer_programm">
      <figure class="imageContainer__image imageContainer__image_programm"></figure>
    </div>
    <p class="chain__paragraph child parent centered">Стартовая программа — это квест. Суть квеста заключается в прохождение каких-либо условий для достижения награды.</p>
  </article>
  <article class="chain parent">
    <h3 class="chain__title visible-hidden">Задание &quot;Стартовой программы&quot;</h3>
    <div class="chain__image imageContainer child imageContainer_group">
      <figure class="imageContainer__image imageContainer__image_group"></figure>
    </div>
    <p class="chain__paragraph child parent centered">Чтобы выполнить квест, нужно вступить в группу  и размещать заказы, за которые вы получите опыт в виде бонусных баллов.</p>
  </article>
  <article class="chain parent">
    <h3 class="chain__title visible-hidden">Этапы &quot;Статовой программы&quot;</h3>
    <div class="chain__image imageContainer child imageContainer_stage">
      <figure class="imageContainer__image imageContainer__image_stage"></figure>
    </div>
    <p class="chain__paragraph child parent centered">Кстати говоря, достигнув отметки в 100 бонусных баллов, вы продвинетесь на следущий этап квеста и сделаете шаг к более ценной награде!</p>
  </article>
  <article class="chain parent">
    <h3 class="chain__title visible-hidden">Количество этапов</h3>
    <div class="chain__image imageContainer child imageContainer_gifts">
      <figure class="imageContainer__image imageContainer__image_gifts"></figure>
    </div>
    <p class="chain__paragraph child parent centered">Всего 4 этапа с экспоненциально увеличивающейся выгодой. Убедитесь в этом сами! </p>
  </article>
</section>
<ul class="items parent restrictBlock">
  <li class="item item_upper child parent centered">
    <h3 class="item__title">1 этап</h3>
    <div class="imageContainer item__image imageContainer_step_1">
      <figure class="imageContainer__image showPopup imageContainer__image_step_1" data-popup-id="#step_1"></figure>
    </div>
    <div class="itemDescription description description_black description_inline visible-hidden" id="step_1">
      <h4 class="description__title parent">Набор первого этапа
        <button class="item__closeButton closeButton child" data-popup-id="#step_1" aria-pressed="false"><i class="fa fa-close fa-1x"></i></button>
      </h4>
      <div class="description__content">
        <p class="itemDescription__description">Питательный крем для рук и тела

Молоко и Мед - Золотая серия (код 31602)

Крем-мыло Молоко и мед – Золотая серия (код 31604)

Увлажняющий крем для душа Молоко и мед – Золотая серия (код 31605)

Специальное смягчающее средство Нежная забота (код 1276)</p>
        <p class="itemDescription__price">Обычная цена: <strong>1370₽</strong></p>
        <p class="itemDescription__comparePrice">Цена на новом этапе: <strong>199₽</strong></p>
        <p class="itemDescription__profit">Профит: <strong>1171₽</strong></p>
      </div>
    </div>
  </li>
  <li class="item item_upper child parent centered">
    <h3 class="item__title">2 этап</h3>
    <div class="imageContainer item__image imageContainer_step_2">
      <figure class="imageContainer__image showPopup imageContainer__image_step_2" data-popup-id="#step_2"></figure>
    </div>
    <div class="itemDescription description description_black description_inline visible-hidden" id="step_2">
      <h4 class="description__title parent">Набор второго этапа
        <button class="item__closeButton closeButton child" data-popup-id="#step_2" aria-pressed="false"><i class="fa fa-close fa-1x"></i></button>
      </h4>
      <div class="description__content">
        <p class="itemDescription__description">Дневной крем, выравнивающий тон кожи, с SPF 20 Защита и осветление (код 25206)

Ночной крем, выравнивающий тон кожи Защита и осветление (код 25207)

Крем для век Невероятный эффект (код 25264)

Многофункциональная губная помада 5-в-1, The ONE Colour Stylist Дивный Пион (код 25264)

Многофункциональная тушь для ресниц 5-в-1 The ONE Wonderlash Черный (код 30719)</p>
        <p class="itemDescription__price">Обычная цена: <strong>2770₽</strong></p>
        <p class="itemDescription__comparePrice">Цена на новом этапе: <strong>199₽</strong></p>
        <p class="itemDescription__profit">Профит: <strong>2571₽</strong></p>
      </div>
    </div>
  </li>
  <li class="item item_upper child parent centered">
    <h3 class="item__title">3 этап</h3>
    <div class="imageContainer item__image imageContainer_step_3">
      <figure class="imageContainer__image showPopup imageContainer__image_step_3" data-popup-id="#step_3"></figure>
    </div>
    <div class="itemDescription description description_black description_inline visible-hidden" id="step_3">
      <h4 class="description__title parent">Набор третьего этапа
        <button class="item__closeButton closeButton child" data-popup-id="#step_3" aria-pressed="false"><i class="fa fa-close fa-1x"></i></button>
      </h4>
      <div class="description__content">
        <p class="itemDescription__description">Губная помада Золотой соблазн Giordani Gold Очаровательный Пионовый (код 22748)

Парфюмерная вода Miss Giordani (код 30399)

Ультраудлиняющая тушь для ресниц Giordani Gold (код 32079)

Антивозрастная тональная основа Giordani Gold Слоновая Кость (код 32049)</p>
        <p class="itemDescription__price">Обычная цена: <strong>4360₽</strong></p>
        <p class="itemDescription__comparePrice">Цена на новом этапе: <strong>199₽</strong></p>
        <p class="itemDescription__profit">Профит: <strong>4161₽</strong></p>
      </div>
    </div>
  </li>
  <li class="item item_upper child parent centered">
    <ul class="choices parent child">
      <li class="choice child">
        <button class="choice__button button button_purple" data-src="/static/cosmeticsyou/img/steps/w_step_4.jpg" data-popup-id="#w_step_4" aria-pressed="false">Женщинам</button>
      </li>
      <li class="choice child">
        <button class="choice__button button button_red" data-src="/static/cosmeticsyou/img/steps/m_step_4.jpg" data-popup-id="#m_step_4" aria-pressed="false">Мужчинам</button>
      </li>
    </ul>
    <h3 class="item__title">4 этап</h3>
    <div class="imageContainer item__image imageContainer_w_step_4">
      <figure class="imageContainer__image showPopup imageContainer__image_w_step_4" id="figureWithChoice" data-popup-id="#w_step_4"></figure>
    </div>
    <div class="itemDescription description description_black description_inline visible-hidden" id="w_step_4">
      <h4 class="description__title parent">Набор для женщин
        <button class="item__closeButton closeButton child" data-popup-id="#w_step_4" aria-pressed="false"><i class="fa fa-close fa-1x"></i></button>
      </h4>
      <div class="description__content">
        <p class="itemDescription__description">Вэлнэс Пэк для женщин (код 22791)

Туалетная вода Eclat Femme (код 30128)

Сыворотка для лица против морщин NovAge Эколлаген (код 31147)</p>
        <p class="itemDescription__price">Обычная цена: <strong>5800₽</strong></p>
        <p class="itemDescription__comparePrice">Цена на новом этапе: <strong>199₽</strong></p>
        <p class="itemDescription__profit">Профит: <strong>5601₽</strong></p>
      </div>
    </div>
    <div class="itemDescription description description_black visible-hidden description_inline" id="m_step_4">
      <h4 class="description__title parent">Набор для мужчин
        <button class="item__closeButton closeButton child" data-popup-id="#m_step_4" aria-pressed="false"><i class="fa fa-close fa-1x"></i></button>
      </h4>
      <div class="description__content">
        <p class="itemDescription__description">Вэлнэс Пэк для мужчин (код 22793)

Туалетная вода Eclat Homme (код 30173)

Пена для бритья Норд Ориджинал (код 32002)

Бальзам после бритья Норд Ориджинал (код 32004)

Шампунь для волос и тела Норд Ориджинал (код 32005)

Спрей дезодорант-антиперспирант 24-часового действия Норд Ориджинал (код 32005)</p>
        <p class="itemDescription__price">Обычная цена: <strong>5800₽</strong></p>
        <p class="itemDescription__comparePrice">Цена на новом этапе: <strong>199₽</strong></p>
        <p class="itemDescription__profit">Профит: <strong>5601₽</strong></p>
      </div>
    </div>
  </li>
</ul>
<div class="registrationButton main__registrationButton registrationButton_red registrationButton_centered"><a class="registrationButton__refer" href="{% url 'registration' %}">Регистрация</a></div>
<section class="questions">
  <h2 class="visible-hidden">Часто задаваемые вопросы</h2>
  <article class="question">
    <h3 class="question__title">— Что такое ORIFLAME?</h3>
    <p class="question__paragraph">Компания, стоящая в авангарде, несущая свой штандарт в разработке и продаже косметических, гигиенических средств, здоровой агропромышленной продукции и украшений для мужчин, женщин и детей. Так можно описать компанию, с которой мы работаем.</p>
  </article>
  <article class="question">
    <h3 class="question__title">— Что ORIFLAME производит?</h3>
    <p class="question__paragraph">Продукцию Oriflame производят высококлассные научные инженеры. В своей работе, они применяют не менее высоколассное оборудование, беря лучшее сырьё из природы. Они, как шаманы современного мира, смешивающие в своём котле фрукты, цветы и самые разнообразные экзотические растения. </p>
  </article>
  <article class="question">
    <h3 class="question__title">— в чём смысл жизни ORIFLAME?</h3>
    <p class="question__paragraph">Разрабатывая косметику, специалисты придерживаются разработке продукта, имеющий не только декоративные свойства, но и поддерживающий организм в тонусе настолько, насколько это возможно.</p>
    <p class="question__paragraph">Велнес — это деньги, потраченные на то, чтобы чувствовать себя более здоровым, даже если вы не “больны” по обычным медицинским параметрам. Сегодня главная потребность большинства людей не в деньгах, а в здоровье.</p>
  </article>
</section>
<section class="catalogs">
  <h2 class="catalogs__title">Каталоги</h2>
  <ul class="catalogsList owl-carousel" id="catalogs">
    <li class="catalog slide catalog_red" data-index="0"><a class="catalog__refer now-follow" href="http://ru.oriflame.com/ecatalogue/502181?per=201609"><img class="image" src="http://ru.oriflame.com/catalogue-image.png"/></a></li>
    <li class="catalog slide catalog_purple" data-index="1"><a class="catalog__refer now-follow" href="http://ru.oriflame.com/ecatalogue/502181?per=201609"><img class="image" src="http://ru.oriflame.com/catalogue-image.png"/></a></li>
    <li class="catalog slide catalog_red" data-index="2"><a class="catalog__refer now-follow" href="http://ru.oriflame.com/ecatalogue/502181?per=201609"><img class="image" src="http://ru.oriflame.com/catalogue-image.png"/></a></li>
    <li class="catalog slide catalog_purple" data-index="3"><a class="catalog__refer now-follow" href="http://ru.oriflame.com/ecatalogue/502181?per=201609"><img class="image" src="http://ru.oriflame.com/catalogue-image.png"/></a></li>
  </ul>
</section>{% endblock %}