footer
  .container.footer
    p.info Регистрируясь на нашем сайте, вы попадаете в нашу команду! Мы поможем вам научиться оформлять заказы, будем консультировать и сопровождать. А если вы захотите зарабатывать с нами, научим всему необходимому
    include contacts/contacts.pug
    .copyright
      p.cophyright__me Copyright © 2016 &dash; Сайт независимого консультанта Oriflame
      p.officialSite Официальный сайт компании 
        a.officialSite__refer(href="https://oriflame.com/") www.oriflame.com