.map
  <iframe class="map__item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.62927236199!2d37.72623447311733!3d55.81703622987528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53450cf0645b9%3A0x869f26e9d7ad24d3!2sIvanteevskaya+ul.%2C+13%D0%BA1%2C+Moskva%2C+107150!5e0!3m2!1sen!2sru!4v1490534290229" frameborder="0" style="border:0" allowfullscreen></iframe>