.about__item {
  @include span(6);
  padding: 0 1%;
  margin-top: 30px;
   @include breakpoint($lg) {
     width: span(3);
     margin-right: 1.1%;
  }
  @include breakpoint($md) {  
     margin-right: 0;
  }
  @include breakpoint($sm) {  
     margin-right: 0;
  }
  @include breakpoint($xs) {
   width: span(12);
  }
  &:nth-child(odd) .aboutLogo {
    background-image:  url('../img/logos/1.jpg'); 
  }
  &:nth-child(even) .aboutLogo {
    background-image:  url('../img/logos/2.jpg'); 
  }
}
.aboutLogo, .aboutTitle {
  display: inline-block;
}
.aboutLogo {
  color: $nightBlack;
  min-width: 60px;
  max-width: 60px;
  width: span(2);
  height: 60px;
  background: no-repeat center; 
  background-size: cover;
}

.aboutTitle {
  width: span(9);
  text-align: right;
}
.aboutText {
  margin-top: 30px;
  color: lighten($nightBlack, 15%);
}
@import "intro/intro.scss";
@import "production/production.scss";
@import "quality/quality.scss";
@import "team/team.scss";