.about {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: $gray;
  padding: 5% 0 10%;
  margin-top: 65px;
  @include clearfix;
}
@import "__item/__item.scss";