{% extends "base.html" %}
{% block content %}<style>.singleShare h3 {
   margin-top:2.08333em;
}

h2, h3 {
	margin-left: -4px;
}
*+* {
	margin-top: 1.618em;
}

.singleShare img {
	width: 100%;
}
.singleShare h2 + *:first-of-type, .singleShare h3 + *:first-of-type, img {
	margin-top: 1.618em;
}
.singleShare a {
   color: #99303B;

   background-image: linear-gradient(to right,#99303B 0, #99303B 100%);
}
.singleShare ul {
	margin-top: 1.5rem;
}
img {
	box-shadow: 2px 2px 4px rgba(0,0,0,.25);
	display: block;
	max-width: 100%;
}
.singleShare, img {
	border-radius: 2px;
}
.singleShare {
	border: 1em solid #654178;
    margin-top: 2.617924em;
    border-left: 0;
    border-right: 0;
    padding-bottom: 4.235801032em;
    max-width: 60ch;
}

.singleShare__title {
	margin-top: 1.618rem;
}
.singleShare ul li:before {
	content: "\25EF";
    position: relative;
    top: -0.15625em;
    font-size: 0.61804697156983930779em;
    margin-right: 0.38198205906664975759em;
}
@media (min-width: 769px) {
	.singleShare {
		-webkit-transform: translateX(2em);
	    -ms-transform: translateX(2em);
	    transform: translateX(2em);
	}
}
@media (max-width: 768px) {
	.singleShare {
		margin-top: 4.5em
	}
}
@media (max-width: 480px) {
	.singleShare__title {
		font-size: 7vw;
	}
}</style><section class="singleShare"><h1 class="mainTitle singleShare__title">{{ page.title }}</h1><p class="singleShareMeta"><time class="singleShareMeta__published" datetime="{{ page.published_date }}">Опубликовано: {{ page.published_date }}</time></p><div class="singleShareContent">{% if page.img %}<div class="singleShareContent__mainImage"><img src="/media/{{ page.img }}" alt=""/></div>{% endif %}
{{ page.additional_text|safe }}</div></section>{% endblock %}