.header {
	font-size: em(21);
	& ul {
		list-style: none;
	}
}
.navigation {
	@include breakpoint($sm-less) {
		height: em(540, 21);
	}
}

.brand {
	// min-width: em(450, 42);
	padding-top: .1em;
	background-color: $purple;
	text-align: center;
	font-size: em(42);
	font-weight: 800; 
	min-width: 35%;
	@include breakpoint($sm-less) {
		order: 1;	
		min-width: 50%;
		border-radius: 0;
	}
	&, &:hover {
		background-size: 0;
		color: $white $i;
	}
	&__title {
		line-height: 1.4;
		@include breakpoint($sm-less) {
    		margin-top: .5em;
		}
	}
}

.topNavigation {
	// min-width: em(450, 21);
	min-width: 30%;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
.topNavigationItem {
	&_registration {
		transform: translate(0, 40%);
	}

}

.contacts {
	// min-width: em(450, 21);
	
	min-width: 35%;
	background-color: $purple;
	line-height: 2.2;
	// font-size: em(24);
	padding: 1em 1em 1.5em 5%;
	@include breakpoint($sm-less) {
		order: 3;	
		min-width: span(6);
		top: -9em;
	}
 }
.contacts, .popupContacts {
	@include round(em(2, 21), 'bottom-left');
}
 .contactsItem  {
 	&__label {
 		color: $gray;
 	}
 }
 .topNavigation, .bottomNavigation {
 	background-color: $gray;
 	&Item {
		color: $darkGray;
	 	&__refer {
	 		background-image: transparent $i;
	 		background-size: 0 $i;
	 		color: inherit $i;
	 	}
 	}
 }
 .topNavigation {
 	@include breakpoint($sm-less) {
		order: 5;	
		min-width: span(6);
		flex-direction: row;
		top: -5.1em;
	}
 }
.topNavigationItem {
	&_shop {
		text-align: center;
		min-width: 100%;
		@include flyShadow(false);
		padding: 0 1em;
		@include breakpoint($sm-less) {
	    	max-width: em(122, 21);
    		min-width: 15%;
    		padding: 0 0 1em;
    		align-self: flex-end;
    		order: 2;
			background-color: $red;
			@include round(em(2), 'top-left');
			@include round(em(2), 'bottom-left');
		}
		&:hover .imageContainer_shopping-bag {
			transform: rotate(-10deg) translateY(25%);
		}
	}
	&_registration {
		@include breakpoint($sm-less) {
			// min-width: em(85, 21);
			min-width: 65%;
			@include round(0, 'top-left');
			transform: translate(0, 36%);
		}
	}
}

.topNavigation, .contacts {
	@include breakpoint($sm-less) {
	    background: 0;
	}
}
.topNavigation, .contacts, .callback, .popupContacts {
	@include breakpoint($sm-less) {
		position: relative;

	}
}

 .bottomNavigation {
	min-width: span(8);
	justify-content: space-around;
	padding-bottom: em(36, 21);
	padding-top: em(72, 21); 
	padding: 0 1em;
 	@include breakpoint($sm-less) {
		order: 2;	
		min-width: span(6);
		flex-direction: column;
		justify-content: flex-start;
		height: em(321);
		padding: 0;
	}
}

.bottomNavigationItem {
	text-align: center;
	align-items: flex-end;
    justify-content: center;
    @include breakpoint($sm-less) {
    	flex: 0 0 20%;
    	align-items: center;
    }
    &_active, &:hover, &:focus, &:hover &__refer_active {
    	@include breakpoint($sm-less) {
			background-color: $purple;
			color: $white;
		}
    }
	&__refer {
		padding-bottom: .8em;
	    background-image: linear-gradient(to right, $purple 0%, $purple 100%) $i;
		background-position: 0 2.2em $i;
		background-size: 2.5em $i;
		white-space: nowrap;
 		&_active, &:hover, &:focus {
 			padding-bottom: 1.8em;
 		}
 		&_active, &:hover, &:focus, & {
 			@include breakpoint($sm-less) {
 				padding-bottom: 0;
 			}
 		}	
 		&_active {
			@include breakpoint($sm-less) {
				background-image: 0;
				color: $white $i;
			}
 			
 		}
	}
}
 .callback, .brand {
 	@include round(em(2, 21), 'bottom-right');
 	@include breakpoint($sm-less) {
 		@include round(0);
 	}
 }
 
 .callback, .popupContacts {
 	z-index: 1;
 	position: relative;
 	max-width: span(2);
 	min-width: span(2);
 	background-color: $red;
 	cursor: pointer;
 	padding: .5em 0;
	@include breakpoint($sm-less) {
		top: em(-143.7, 21);
	}
	&:hover {
		z-index: 2;	
	}
 }
 .callback {
 	@include flyShadow(2px 5px 15px 2px $shadow);
 	@include breakpoint($sm-less) {
		order: 6;	
		@include round(0, 'bottom-right');
	}
 }
 .popupContacts {
 	@include flyShadow(-2px 5px 15px 2px $shadow);
 	@include breakpoint($sm-less) {
		order: 7;	
		@include flyShadow(0 0 15px -1px $shadow);
		@include round(em(2), 'bottom-right');
	}
 }

 .contactsDescription, .callbackFormWrapper  {
	position: absolute;
	display: none;
	
 }



.imageContainer_shopping-bag {
	transition: .2s ease-in-out;
	margin-right: .5em;
	transform: translateY(25%);
	@include breakpoint($sm-less) {
		margin-right: 0;
	}
}
.imageContainer__image_shopping-bag {
	@include breakpoint($sm-less) {
		background-image: url('./../img/icons/white_bag.png') $i;
	}
}