@import './lib/owl.carousel.scss';
@import './lib/owl.theme.default.scss';

.main {
	// flex-direction: column;
}
.main p {
	// font-size: font-emphasize: 
}

$slides: 
	('hike', auto, 0), 
	('team', em(6, 21), 0), 
	('business', em(6, 21), calc(50% - 222px)), 
	('quest', em(6, 21), span(2)), 
	('registration', em(6, 21), 0);

@each $name, $textY, $textX in $slides{
	.slide__description_#{$name} {
		bottom: #{$textY};
		right: #{$textX}; 
	}
	.imageContainer {
		&__image_#{$name} {
			background-image: url('./../img/slides/#{$name}.jpg');
		}
	}
} 

.mainSlider {
	max-width: em(1350);
	margin: em(84) auto;
	@include breakpoint($sm-less) {
		margin-top: 0;
	}
	@include breakpoint($xxs) {
		margin-bottom: em(270);
		margin-top: em(60);

	}
}
#mainSlider {
	display: flex;
	flex-flow: column nowrap;
	& .owl {
		&-dots {
			@include breakpoint($xxs) {
				order: -1;
			}
		}
	}	
}
.owl-stage-outer {
	@include breakpoint($xxs) { 
		overflow: visible $i;
	}
}
.slide {
	@include round(em(2, 21));
	position: relative;
 	&__description {
		font-size: em(21);
		max-width: em(444, 21);
		position: absolute;
		background-color: $red;
		padding:  em(17, 21) em(29, 21) em(32, 21); 
		color: $white;
		@include breakpoint($sm-less) {
			font-size: em(18, 21);

		}
		@include breakpoint($xs) {
			font-size: em(15);
		}
		@include breakpoint($xxs) {
			bottom: auto;
			top: 98%;
			min-width: span(12);
			left: 0;
			margin-top: 0 $i;
		}
		&_hike {
			top: 0;
		}
 	}

	&__button {
		margin-top: 1em;
	}

 	& .imageContainer {
 		min-width: span(12);
 		&__image {
			padding-bottom: adaptive(1350, 720);
 		}
 	}
}

.programm {
	flex-direction: column;
	max-width: em(208);
	margin: auto;
	@include breakpoint($sm-less) {
		max-width: 100%;
	}
	&__title {
		white-space: nowrap;
	}
}
.chain {
	flex-wrap: nowrap;
	
	&:not(:first-child) {
		margin-top: em(75);
	}
	&:nth-child(2n+0) {
		align-self: flex-start;
		& .chain__image {
			order: 1;
		}
		& .chain__paragraph {
			order: 2;
			margin-left: em(75);
			@include breakpoint($sm-less) {
				margin-left: 0;
			}
		}
	}
	&:nth-child(2n+1)  {
		align-self: flex-end;
		& .chain__image {

			order: 2;
			@include breakpoint($sm-less) {
				order: 1;
			}
		}
		& .chain__paragraph {
			order: 1;
			margin-right: em(75);
			@include breakpoint($sm-less) {
				order: 2;
				margin-right: 0;
			}
		}
	}
	&:not(:last-of-type) {
		& .chain__image {	
			&::after {
				content: "";
				position: absolute;
				top: 100%;
				width: em(13);
				background-color: $gray;
				height: em(75);
				left: em(98.5);
				left: calc(50% - 6.5px);
				@include breakpoint($sm-less) {
					content: none;
				}
			}
		}
	}

	@include breakpoint($sm-less) {
		align-self: auto $i;
		flex-direction: column;
		max-width: 100%;
		padding: 0 1em;
		align-items: center;
		margin-top: em(65);
	}
	&__image {
		background-color: $red;
		max-width: em(210);
		min-width: em(210);
		position: relative;
		&, & .imageContainer__image {
			@include round(50%);
		}
	}
	&__paragraph {
		min-width: em(420);
		max-width: em(420);
		@include breakpoint($sm-less) {
			min-width: span(12);
			margin-top: em(35, 21);
		}
		@include breakpoint($sm-less) {
			margin-top: em(26, 21);
		}
	}
}

.items {
	margin-top: em(95);
	max-width: em(1350);
	@include breakpoint($xxs) {
		justify-content: center;
	}
	
}
.item:nth-last-child(2):nth-child(4n) {
	@include breakpoint($sm-less) {
		min-width: span(6);
	}
}

.item {
	cursor: pointer;
	min-width: em(250);
	max-width: 50%;
	flex-flow: column nowrap;
	display: flex;
	margin-top: 1em;
	@include breakpoint($sm-less) {
		min-width: 50%;
	}
	@include breakpoint($xxs) {
		min-width: span(11);
	}
	&:last-child {
		// @include breakpoint($xs) {
		// 	margin-top: 5em;
		// }
		
	}
	position: relative;
	transition: .3s ease; 
	padding: 1em 0 1.5em;
    // transform: scale(1);
    &_upper {
    	top: -2em;
    }
    &:hover {
        box-shadow: 0 5px 15px -1px $shadow;
      	// transform: scale(1.02);
    }
 
	
	&__title {
		text-align: center;
	}
	&__image {
		margin-top: 1em;
		// padding: 0 .5em;
	}
	&Description {
		max-width: em(370, 21);
		&__description {
			&:first-child { 
				margin-top: 1em;
			}
		}
	}
}

.choices {
	min-width: em(265);
    text-align: center;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 1em;
    bottom: 95%;
    @include breakpoint($sm-less) {
    	top: 100%;
    	bottom: auto;
    }

}
.button {
	padding: 1em 0;
	color: $white;
	@include round(em(2));
	&_purple {
		background-color: $purple;
	}
	&_red {
		background-color: $red;
	}
}
.choice {
	max-width: em(125);
	&__button {
		
	}
}

.main__registrationButton {
	@include breakpoint($sm-less) {
		margin-left: 10%;
		margin-top: -1.5em;
	}
	@include breakpoint($xxs) {
		margin-top: 2.5em;
		margin-left: auto;
	}

}

.questions, .catalogs {
	margin: em(100) auto 0;
}
.questions, .catalogs__title {
	@include breakpoint($xxs) {
		padding: 0 5%;
	}
}
.questions {
	max-width: em(605);
}

.catalogs {
	max-width: em(690);
	margin-bottom: em(160);
	&__title {
		margin-bottom: em(21, 24);
		@include breakpoint($xxs) { 

		}
	}
}
.catalogsList {
	@include round(em(4));
	position: relative;
	// margin: 0 -1.5em;
		
	.owl-nav {
		position: absolute;
    	top: em(-55);
    	right: 0;
    	@include breakpoint($xxs) {
    		right: 	1.5em;
    	}
	}
}

// .owl-item {
// 	transform-style: preserve-3d;
// 	perspective: 500px;
// 	overflow: hidden;
// 	cursor: pointer;
// 	position: relative;
// 	z-index: 10;
// }
// .slide_hidden {
// 	z-index: -1;
// }
// .slide_shown {
// 	transform: rotateY(0deg);
// }
// .slider_slide {
// 	max-width: 100%;
// 	transition: transform 0.8s;
// }
.catalog {
	min-height: em(340);
	min-width: em(340);
	// margin: 0 -2.5px
	@include breakpoint($xxs) {
		min-height: em(250);
	}
	&_purple {
		background-color: $purple;	
	}
	
	&_red {
		background-color: $red;
	}
	&__refer {
		min-height: 100%;
		min-width: 	100%;

	}
	
}

.question {
	margin-top: em(60);
}

.registration {
	& .child {
		flex-basis: 50%;
	}
	justify-content: center;
	// max-width: em(950);
	&__title {
		min-width: span(12);
		margin: em(50) auto em(25);
		text-align: center;
	}
	@include breakpoint ($xs) {
		padding: 0 5%; 
	} 
	@include breakpoint ($xs) {

	}
}
.registrationIntro__paragraph {
	a {
		color: $darkGray;
		background-image: linear-gradient(to right, $darkGray 0%, $darkGray 100%);
	}

}
.registrationIntro {
	max-width: 30rem;
	margin-top: 1.5em;
}
.intl-tel-input {min-width: 100%;}
.registrationForm {
	max-width: em(295);
	margin-right: em(50);	
	margin-bottom: 	em(50);
	@include breakpoint ($xxs) {
		margin-right: 0;
	} 
	&__button {
		margin-top: em(24);
	}
	&__controller {
		&_num_home {
			margin-right: 15%;
		}
		&_num_home, &_num_apartment {
			display: inline-flex;
			max-width: span(5);

		}
	}

}

.iti-flag {background-image: url("./../img/flags.png");}
 
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("./../img/flags@2x.png");}
}