| {% for share in shares %}
.share
  p.share__date.
    Опубликовано: {{ share.published_date }}
  h2.share__title.shareTitle
    a.shareTitle__name(href="{% url 'share_detail' pk=share.pk %}").
      {{ share.title }}
| {% endfor %}