.ladderOfSuccessful
  p.ladderOfSuccessful__additions.text-center
    | Отлично выглядеть, покупать косметику со скидкой от 20%. 
    br
    | Зарабатывать, совмещая с основной работой.
    br
    | Начать свой высокодоходный бизнес без стартового капитала.
  .ladderOfSuccessful__image
    figure