.about__item.quality
  figure.quality__logo.aboutLogo
  h2.quality__title.aboutTitle Wellness
  p.quality__paragraph.aboutText Серия Wellness от Oriflame производится в соответствии со строжайшими стандартами качества.

  p.quality__paragraph.aboutText В научной коллегии Oriflame всемирно признанные специалисты и эксперты с солидным опытом в разных областях исследований.
