ul.paragraph__offersList.benifits
  li.benifits__item
    | Ваша скидка составит 
    span.paragraph__decorator.paragraph__decorator-color_red 32% 
  li.benifits__item 
    | Ваш уровень дохода сразу будет  
    span.paragraph__decorator.paragraph__decorator-color_red 3% 
  li.benifits__item 
    | Возможность получать шикарные наборы 
    span.paragraph__decorator.paragraph__decorator-color_red ВСЕГО ЗА 199 рублей! 
  li.benifits__item 
    | Сделай 2 каталога подряд заказ  
    span.paragraph__decorator.paragraph__decorator-color_red по 150ББ 
    | и у тебя будет 
    span.paragraph__decorator.paragraph__decorator-color_viole скидка 50% на 1 любимый продукт! 