form#registrForm.registrForm(
  method="post"
)
  | {% csrf_token %}
  // Поля формы
  | {% autoescape on %}
  | {% for field in form %}
  .registrForm__controller.controller
    | {{ field.label_tag }}
    | {{ field }}
    | {{ field.errors }}
  | {% endfor %}
  | {% endautoescape %}
  // Подтверждение формы
  include submitForm/submitForm.pug
  // include __controller/__controller.pug