p.paragraph
  strong.paragraph__title Пройдя Шаг 1 стартовой программы, 
  | вам вернётся стоимость регистрации 
  span.paragraph__decorator.paragraph__decorator-color_red в размере 149 
  | рублей на ваш номер!
p.paragraph
  h4.paragraph__title.text-center Учавствуйте в стартовой программе для новых консультантов и получай наборы протуктов-бестселлеров 
    span.paragraph__decorator.paragraph__decorator-color_red всего за 199 рублей!
  include steps/steps.pug
p.paragraph
   h4.paragraph__title.text-center Сделай заказ на 150ББ и будь в Премтер Клубе!
   include benifits/benifits.pug