.header {
  margin-top: 20px;
}
.header__navbar {
  background-color: transparent;
  border: 0;
  .navbar__navContent {
//    @include breakpoint($xxs) {
//      display: flex;
//      flex-flow: column nowrap;
//    }    
  }
}

@import "logo/logo.scss";
@import "navigation/navigation.scss";