
.registrForm__controller {
  width: span(12);
  margin-top: 24px;
  & label, & input {
    display: block;
  }
  & label {
    text-align: center;
    max-width: 190px;
    margin: 0 auto;
    letter-spacing: .05em;
  }
  & input {
    border: 1px solid $gray;
    min-width: 210px;
    margin: 12px auto 0;
    padding: .75em 1em;
    border-radius: 2px;
    box-shadow: 2px 4px 6px $shadow;
    color: $nightBlack;
    background-color: #fff;
  }
  input[type="checkbox"] {
    min-width: auto;
    box-shadow: none;
    background-color: transparent;
  }
}

@import "__item/__item.scss";
@import "__item/__item-checkAddition.scss";
@import "__label/__label.scss";
@import "__label/__label-checkAddition.scss";

// Общие стили

.controller__label, .controller__item {
  display: block;
}