#passportChoises {
    max-width: 210px;
    margin: 0 auto;
    width: 100%;
    display: block;
    height: 32px;
}
.intl-tel-input {
    margin: 1em auto 0;
    display: block;
    max-width: 210px;
}
.registrForm__controller {
  width: span(12);
  margin-top: 24px;
  & label, & input {
    display: block;
  }
  & label {
    text-align: center;
    max-width: 190px;
    margin: 0 auto;
  }
  & input {
    border: 1px solid $gray;
    min-width: 210px;
    margin: 12px auto 0;
    padding: 3px 0 3px 5px;
    color: $nightBlack;
    background-color: transparent;
  }
}
@import "__item/__item.scss";
@import "__item/__item-checkAddition.scss";
@import "__label/__label.scss";
@import "__label/__label-checkAddition.scss";

// Общие стили

.controller__label, .controller__item {
  display: block;
}