.about__item.production
  figure.production__logo.aboutLogo
  h2.production__title.aboutTitle Продукция
  p.production__paragraph.aboutText Формулы косметических средств сочетают в себе и целительную магию старинных рецептов, созданных известными врачами прошлых тысячелетий, и последние достижения в области косметологии. Один из принципов Орифлейм (Oriflame) при создании новых средств - это сочетание лучшего в науке с лучшим в природе. Продукция создается при помощи новейших технологий из высококачественных компонентов природного происхождения - фруктов, цветов и других растений.